<div class="container">
	<div class="jumbotron">
	    <h1>Bem-vindo!</h1>
	    <!--<% current_user.wordings.each do |wording| %>
	    	<%= wording.title %>
	    	<%= wording.text %>
	    <% end %>-->

	    <h4>Além de criar suas redações, aqui você pode comentar e avaliar de outros usuarios.</h4>
	</div>
		<h1>Melhores redações</h1>
	    <div class="row">
	      <% @bests_wordings.each do |wording| %>
	      	<% if wording.valid? %>
		        <div class="col-md-4">
		          <h2><%=wording.score%></h2>
		          <h3><%=wording.title.at(0..20)%></h3>
		          <p style="word-wrap: break-word"><%=wording.text.at(0..200)+"..."%> </p>
		          <%= button_to 'Detalhes', wording_path(wording), method: :get, class:'btn btn-default' %>
		        </div>
	      	<%end%>
		<%end%>
	</div>
	
</div>