
<div class="container">
  

<h2>Atualizar Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.email_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Sobrenome" %><br />
    <%= f.email_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Senha" %> <i>(Deixe em branco se você não quiser alterar a senha)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Confirme a senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Senha atual"%><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p><%= button_to "Cancelar a conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger" %></p>
