<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <div class="panel-title">Cadastro</div>  
                              <div style="float:right; font-size: 85%; position: relative; top:-10px"><%= link_to "Entrar", new_user_session_path%></div>
                          </div>  
                          <div class="panel-body" >
                            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                                    <% if !devise_error_messages!.empty? %>
                                    <div id="signupalert"  class="alert alert-danger">
                                        <p><%= devise_error_messages! %></p>
                                        <span></span>
                                    </div>
                                    <% end %>
                                        
                                    
                                      
                                    <div class="form-group">
                                        <label  class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                            <%= f.input_field :email, :placeholder => 'Email', class:'form-control' %>
                                        </div>
                                    </div>
                                        
                                    <div class="form-group">
                                        <label  class="col-md-3 control-label">Nome</label>
                                        <div class="col-md-9">
                                            <%= f.input_field :name, placeholder: 'Nome', class:'form-control' %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Sobrenome</label>
                                        <div class="col-md-9">
                                            <%= f.input_field :lastname, placeholder: 'Sobrenome', class:'form-control' %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <%= f.input_field :password, placeholder: 'Senha', class:'form-control' %>
                                        </div>
                                    </div>
                                        
                                    <div class="form-group">
                                        <label  class="col-md-3 control-label">Confirmação de Senha</label>
                                        <div class="col-md-9">
                                            <%= f.input_field :password_confirmation, placeholder: 'Confirme sua senha', class: 'form-control' %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                            <%= f.button :submit, value:"Cadastrar", class:'btn btn-success' %>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                <% end %>
                          </div>
                      </div>
  </div>
</div>




  

