<div class="container">
	<div class="row">
	      <% @wordings.each do |wording| %>
	      	<% if wording.valid? %>
	      		<div class="col-md-4">
					<div class="panel panel-default">
					  	<div class="panel-body">
					  	  <h2><%=wording.score%></h2>
				          <h3><%=wording.title.at(0..20)%></h3>
				          <p style="word-wrap: break-word"><%=wording.text.at(0..200)+"..."%> </p>
				          <%= button_to 'Detalhes', wording_path(wording), method: :get, class:'btn btn-default' %>
				    	</div>
					</div>
				</div>
		        
	      	<%end%>
		<%end%>
	</div>
</div>