<div class="container">
	<div class="row">
	      <% @wordings.each do |wording| %>
	      	<% if wording.valid? %>
	      		<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<%= link_to wording_path(wording),  method: :delete, data: { confirm: 'Tem certeza?' } do %>
            					<i class="fa fa-times"></i>
          					<% end %>
							
						</div>
					  	<div class="panel-body">
				          <h2><%=wording.title.at(0..20)%></h2>
				          <p style="word-wrap: break-word"><%=wording.text.at(0..200)+"..."%> </p>
				          <%= button_to 'Detalhes', wording_path(wording), method: :get, class:'btn btn-default' %>
				    	</div>
					</div>
				</div>
		        
	      	<%end%>
		<%end%>
	</div>
</div>

