<div class="container">
	 <%=simple_form_for :wording, url: wordings_path do |f| %> 
	 	 <% if @wording.errors.any? %>
         	<div  class="alert alert-danger">
            	<% @wording.errors.full_messages.each do |r| %>
	           		<p><%= r %></p>
	            	<span></span>
            	<% end %>
         	</div>
         <% end %>
	    <div class="form-group row">
		    <label for="inputEmail3" class="col-sm-2 form-control-label">Titulo</label>
		    <div class="col-sm-10">
		      <%= f.input_field :title, placeholder:'Titulo', class: "form-control"%>
		    </div>
	  	</div>
		  <div class="form-group row">
		    <label for="inputPassword3" class="col-sm-2 form-control-label">Texto</label>
		    <div class="col-sm-10">
		      <%= f.text_area(:text, rows: 8, class:"form-control")%>
		    </div>
		  </div>
	    <%= f.button :submit, value:"Salvar", class: "col-sm-2 btn btn-default btn-lg"%>
	<%end%>	
</div>