<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-8">
			      <h3><%= @wording.title%></h3>
			    </div>
			    <div class="col-sm-2">
			      	<h2>Nota: <%=@wording.score%></h2>
			    </div>
	  		</div>
	  	</div>
		<div class="panel-body">
		  	<div class="row">
		    <div class="col-sm-12">
		      		<p style="word-wrap: break-word"><%= @wording.text%></p>
		    </div>
		 </div>
		</div>
	</div>

		
		 <% if !(current_user == @wording.user) %>
		 <h2>Novo comentario</h2>
			<%= simple_form_for([@wording, @wording.reviews.build]) do |f| %>
				<% flash.each do |key, value| %>
                            <% if !value.empty? %>
                                <div class="alert alert-danger col-sm-12">
                                    <div><%= value %></div>
                                </div>
                            <% end %>
                        <% end %>
                            
				 <% if @wording.errors.any? %>
         			<div class="alert alert-danger">
            			<% @wording.errors.review.errors.full_messages.each do |r| %>
	           			<p><%= r %></p>
	            		<span></span>
            			<% end %>
         			</div>
         		<% end %>
				<div class="form-group row">
				    <div class="col-sm-2">
				      <%= f.input_field :rate, placeholder:'Nota', class: "form-control", min:'0', max:'1000'%>
				    </div>
				    <div class="col-sm-6">
				      <%= f.input_field :comment, placeholder:'Comentarios', class: "form-control"%>
				    </div>
				    <div class="col-sm-2">
				      <%= f.button :submit, value:"Comentar", class: "btn btn-primary"%>
				    </div>
		  		</div>
			<% end %>
		<% end %>
		<h2>Comentários</h2>
		<div class="form-group row">
			<% @wording.reviews.each do |review| %>
				<% if review.valid? %>
			        <div class="col-md-4">
			        	<div class="panel panel-default">
			        	<% if review.user == current_user %>
				        	<div class="panel-heading">
								<%= link_to [review.wording, review],  method: :delete, data: { confirm: 'Tem certeza?' } do %>
		            					<i class="fa fa-times"></i>
		          					<% end %>

				        	</div>
				        	<% end %>
				        	<div class="panel-body">
						          	
								          <h3><%=review.writer%></h3>
								          <h2><%=review.rate%></h2>
								          <p style="word-wrap: break-word"><%=review.comment%> </p>
					        		
						    </div>
						 </div>
			        </div>
		        <% end %>
			<% end %>
		</div>
</div>