<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Escriba - seu banco de redações online</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <% flash.each do |key, value| %>
                            <% if !value.empty? %>
                                <div class="alert alert-danger col-sm-12">
                                    <div><%= value %></div>
                                </div>
                            <% end %>
                        <% end %>
                            
                        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i>
</span>
                                        <%= f.input_field :email, placeholder: 'Email',class: 'form-control'%>
                                                                           
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i>
</span>
                                        <%= f.input_field :password, placeholder: 'Senha',class: 'form-control'%>
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <% if devise_mapping.rememberable? -%>
                                    <div class="field">
                                      <%= f.check_box :remember_me %>
                                      <label>
                                          Lembre-me
                                        </label>
                                    </div>
                                  <% end -%>
                                    </div>

                              


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                        <%= f.button :submit, value: "Entrar", class: "btn btn-success" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Não tem conta?
                                            <%= link_to 'Cadastre-se aqui', new_user_registration_path%> 
                                        </div>
                                    </div>
                                </div>
                            <% end %>   




                        </div>                     
                    </div> 

        </div>
