
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to principal_home_path do %>
            <span class="navbar-brand">Escriba</span>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%=link_to "Perfil", edit_user_registration_path%></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redações <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Nova Redação', new_wording_path%></li>
                <li><%= link_to 'Minhas Redações', wordings_my_path%></li>
                <li><%= link_to 'Todas Redações', wordings_path%></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-power-off"></i>
            <% end %>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>