<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escriba</title>
    <link href="navbar-static-top.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
      <% if user_signed_in? %>
        <%= render 'layouts/user_signin' %>
      <% end %>
      <%= yield %>
  </body>
</html>
